@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.hide {
  overflow: auto; /* Enable scrolling */
}

.hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Edge, and Safari */
}

.hide {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
